[submodule "janus/powerline"]
	path = janus/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "janus/tabular"]
	path = janus/tabular
	url = https://github.com/godlygeek/tabular
[submodule "janus/ruby-refactoring"]
	path = janus/ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring
[submodule "janus/blockle"]
	path = janus/blockle
	url = git://github.com/jgdavey/vim-blockle.git
[submodule "janus/vim-airline"]
	path = janus/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".tmux-plugins/battery"]
	path = .tmux-plugins/battery
	url = https://github.com/richo/battery.git
[submodule "tmux-plugins/battery"]
	path = tmux-plugins/battery
	url = https://github.com/richo/battery.git
[submodule "janus/projections"]
	path = janus/projections
	url = https://github.com/malkomalko/projections.vim
