[submodule "janus/powerline"]
	path = janus/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "janus/tabular"]
	path = janus/tabular
	url = https://github.com/godlygeek/tabular
[submodule "janus/ruby-refactoring"]
	path = janus/ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring
